.commentContainer{
  border: .25rem solid black;
  margin: 1rem;
  background-color: skyblue;
}

.commentTitle {
  margin: 1rem;
}

.commentContents{
  margin: 1rem;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button{
  margin: 1rem;
  height: 2rem;
}

li{
  list-style: none;
}
